@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-very-dark-blue: hsl(229, 57%, 11%);
    --clr-dark-blue: hsl(228, 56%, 26%);
    --clr-grayish-blue:  hsl(229, 7%, 55%);
    --clr-pale-blue: hsl(243, 100%, 93%);

    --margin-elements: 0.5rem;
    --padding-elements: 1.5rem;
    --border-radius-elements: 0.5rem;

    --gradient: linear-gradient(hsl(6, 100%, 80%) to hsl(335, 100%, 65%));

}

body {
    background: var(--clr-very-dark-blue);
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
    color: var(--clr-grayish-blue);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 586px) {
    body {
        background-image: url(./images/bg-mobile.png);
        background-size: cover;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    padding: 10rem 0;
}



.first-element {
    background-color: var(--clr-dark-blue);
    border-radius: var(--border-radius-elements) 5rem var(--border-radius-elements) var(--border-radius-elements);
    margin: var(--margin-elements);
    padding: var(--padding-elements) 5rem var(--padding-elements) var(--padding-elements);
}

.logo {
    display: block;
    padding-bottom: 1rem;
}

.icons {
    display: flex;
}

.icon-link {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    background-color: var(--clr-very-dark-blue);
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    text-decoration: none;
    text-align: center;
}

.icon-symbol {
    display: block;
    margin: auto;
}

.second-element {
    background-color: var(--clr-dark-blue);
    border-radius: var(--border-radius-elements);
    margin: var(--margin-elements);
    padding: var(--padding-elements);
    font-size: 0.75rem;
    width: 33%;
    min-width: 280px;
    position: relative;
}

.white-number {
    font-weight: 700;
    color: var(--clr-pale-blue);
}

.storage-left {
    background-color: white;
    border-radius: var(--border-radius-elements) ;
    display: inline-flex;
    align-items: center;
    padding: calc(var(--padding-elements)/2);
    position: absolute;
    right: var(--padding-elements);
    /*own padding plus font-seize of the .storage-left__number moved upwards*/
    top: calc(calc(calc(var(--padding-elements)/2) + 1.75rem) * -1);
}

@media (max-width: 586px) {
    .storage-left {
        top: calc(calc(calc(var(--padding-elements)/2) + 2.5rem) * 2);
        right: calc(calc(var(--padding-elements)*0.5) + 25%);
    }

    .storage-left__triangle {
        display: none;
    }
}

.storage-left__triangle {
    width: 0;
    height: 0;
    border-top: 1.5rem solid white;
    border-left: 1.5rem solid transparent;
    position: absolute;
    right: var(--padding-elements);
    top: calc(var(--padding-elements)/2);


}

.storage-left__number {
    color: black;
    font-size: 1.75rem;
    font-weight: 700;
}

.storage-indicator {
    display: block;
    border-radius: 9999rem;
    
}

.storage-indicator__bg {
    background-color: var(--clr-very-dark-blue);
    position: relative;
    margin: 1rem 0;
    height: 1.5rem;
    
}

.storage-indicator__gradient {
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    position: absolute;
    top: .25rem;
    left: .25rem;
    /*width: 815 GB used divided by 1000GB */
    width: 81.5%;
    height: 1rem;
}

.storage-indicator__dot {
    background-color: white;
    position: absolute;
    top: .125rem;
    right: 0.25rem;
    width: .75rem;
    height: 0.75rem;
}

.storage-indicator__labeling{
    display: flex;
    justify-content: space-between;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute; 
    width: 100%;
    bottom: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}